body{
    color: lightsalmon;
    background: skyblue;
}
.heading{
    width: 80%;
    font-size: 22px;
}
#camera{
    border: 2px dashed purple;
    width: 350px;
    height: 300px;
}
.name_of_obejcts,#result_object_name, #result_object_accuracy{
    color: teal;
}